p {
    color: blue;
    font-size: 20pt;
}

h2 {
    color: #00ff00;
    font-size: 40pt;
}

#article-content {
    color: red;
    font-size: 60pt;
    /* margin-left: 200px; */
    margin: 200px 0px 0px 0px;
    padding-left: 100px;
    /* border: 20px solid #ff0000; */
    border-width: 20px;
    border-style: solid;
    border-color: orange;
    border-radius: 30px;
}

.highlight {
    background-color: yellow;
}

#about h2 {
    background-color: lightgray;
}